<div id="shopping-cart" class="desktop-12 tablet-6 mobile-3 contained">

  <h2>{{ 'cart.general.title' | t }}</h2>
  {% if cart.item_count == 0 %}
  <div class="checkout-wrapper empty-wrapper text-center">
    <p>{{ 'cart.general.empty' | t }}</p>
  </div>
  {% else %}
    <div class="checkout-wrapper">
    <form action="/cart" method="post" id="cartform" class="bfx-checkout-container">
      <table>
        <thead>
          <tr>
            <th style="text-align:left"><label>{{ 'cart.general.product' | t }}</label></th>
            <th class="cart--remove" style="text-align: center;"><label>{{ 'cart.general.remove' | t }}</label></th>
            <th><label>{{ 'cart.general.price' | t }}</label></th>
            <th style="text-align: center;"><label>{{ 'cart.general.qty' | t }}</label></th>
            <th class="cart--total-price"><label>{{ 'cart.general.price' | t }}</label></th>
          </tr>
        </thead>
        <tbody>

          {% comment %} LINE_ITEM COUNT (For Removal Function) {% endcomment %}
          {% assign line_item = 0 %}

          {% comment %} :: CART LINE ITEMS :: {% endcomment %}
          {% for item in cart.items %}
            {% assign line_item = line_item | plus: 1 %}

            {% comment %} GIFT WITH PURCHASE : Flag to Check when to hide props on gift items {% endcomment %}
            {% assign isGiftItem = false %}
            {% assign property_size = item.properties | size %}
            {% if property_size > 0 %}
              {% for p in item.properties %}
                {% if p.first contains 'discountItem' %}
                  {% assign isGiftItem = true %}
                {% endif %}
              {% endfor %}
            {% endif %}

            <tr id="cart-line-item-{{ line_item }}" class="bfx-product cart-line-item">
              <td class="">

                <div class="cart-item">
                
                {% comment %} :: ITEM - IMAGE :: {% endcomment %}
                <div class="cart-image">
                  {% if isGiftItem %}
                    <img src="{{ item | img_url: '400x' }}" title="{{ item.product.title | escape }}" alt="{{ item.title | escape }}" />
                  
                  {% else %}
                    <a href="{{ item.url }}" title="{{ item.product.title | escape }}" class="fill-link">
                      <img src="{{ item | img_url: '400x' }}" alt="{{ item.title | escape }}" />
                    </a>
                  {% endif %}
                </div>

                {% comment %} :: ITEM - CONTENT :: {% endcomment %}
                <div class="cart-title">
                  {% if settings.vendor %}<p>{{ item.vendor }}</p>{% endif %}
                  <span class="bfx-product-name">{{ item.title }}</span>
                  <span class="hide bfx-sku">{{ item.sku }}</span>
                  <span class="hide bfx-product-customData-label">variant_id</span>
                  <span class="hide bfx-product-customData-value">{{ item.variant_id }}</span>
                  
                  {% if settings.shoprunner_enabled %}
                    <span class="shoprunner-indicator">{% include 'shoprunner-cart-icon' %}</span>
                  {% endif %}
                </div>
                
                {% comment %} :: ITEM - PROPERTIES :: {% endcomment %}
                {% assign property_size = item.properties | size %}
                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.first == 'discountItem' or p.first contains 'sr_token' or p.first contains '_private' or p.last == blank %}
                      {{ p.first }}:

                      {% comment %}
                        Check if there was an uploaded file associated
                      {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}
                      <br>
                    {% endunless %}
                  {% endfor %}
                {% endif %}  
                
                </div>
              </td>

              {% comment %} :: ITEM - REMOVE :: {% endcomment %}
              <td class="cart-remove">
                <a href="#" onclick="theme.utils.cartUtils.removeItem( this ); return false;"><i class="fa fa-times"></i><span class="remove-text">{{ 'cart.general.remove' | t }}</span></a>
              </td>

              {% comment %} :: ITEM - PRICE :: {% endcomment %}
              <td class="cart-price">
                {% if isGiftItem %}
                  <span class="money">Gift Item</span>
                {% else %}
                  <span class="money bfx-list-price">{{ item.price | money }}</span>{% if item.variant.compare_at_price > item.price %}&nbsp;<del><span class="money">{{ item.variant.compare_at_price | money }}</span></del>{% endif %}
                {% endif %}
              </td>

              {% comment %} :: ITEM - QUANTITY :: 
              <td class="cart-quantity">
                {% if isGiftItem %}
                  <div id="updates_{{ item.variant.id }}" class="cart-qty gift-item-cart-qty">{{ item.quantity }}</div>
                {% else %}
                  <input type="text" class="cart-qty bfx-product-qty" size="4" name="updates[{{ item.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();"/>
                {% endif %}
              </td>
              {% endcomment %}

              {% comment %} :: ITEM - QUANTITY :: {% endcomment %}
              <td class="cart-quantity" id="cart-qty-wrapper-{{ item.variant.id }}">
                {% if isGiftItem %}
                  <div id="updates_{{ item.variant.id }}" class="cart-qty gift-item-cart-qty">{{ item.quantity }}</div>
                {% else %}
                  <div class="input-group">
                    <button type="button" class="cart-qty-input cart-qty-minus qty-decrement">-</button>
                    <input type="text" class="cart-qty bfx-product-qty" size="4" name="updates[{{ item.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();"/>
                    <button type="button" class="cart-qty-input cart-qty-plus qty-increment">+</button>
                  </div>
                  <script type="text/javascript">
                   $(function(){
                    theme.utils.cartUtils.setupQtyInput('#cart-qty-wrapper-{{ item.variant.id }}');
                  });
                </script>
                {% endif %}
              </td>

              {% comment %} :: ITEM - PRICE :: {% endcomment %}
              <td class="cart--total-price">
                {% if isGiftItem %}
                  <span class="money">Gift Item</span>
                {% else %}
                  <span class="money bfx-product-subtotal">{{ item.line_price | money }}</span>
                {% endif %}
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>

      {% comment %} :: TOTAL PANEL :: {% endcomment %}
      <div id="basket-right" class="desktop-4 tablet-6 mobile-3 contained">
        <h4 class="clearfix">
          <span class="subtotal-header">{{ 'cart.general.subtotal' | t }}</span>
          <span id="cart-page-price" class="money bfx-price bfx-product-subtotal">{{ cart.total_price | money }}</span>
        </h4>

        <div class="basket-buttons">
          <input type="submit" name="update" id="update-cart" value="{{ 'cart.general.update' | t }}" class="button" />
          <input type="submit" name="checkout" id="checkout" value="{{ 'cart.general.checkout' | t }}" class="button bfx-checkout" />
        </div>
        {% if additional_checkout_buttons %}
          {{ content_for_additional_checkout_buttons }}
        {% endif %}
        <div class="clear"></div>
      </div>

      {% if settings.cart_notes_enable %}
        <div id="cart-notes" class="desktop-12 mobile-3">
          <label for="note"><strong>{{ 'cart.general.note' | t }}</strong></label>
          <textarea name="note" id="note" rows="5" cols="60">{{cart.note}}</textarea>
        </div>
      {% endif %}

    </form>
    </div>


    <div class="related-content">
      {% section 'cart-related-products' %}
    </div>

    {% endif %}

  {% if settings.nosto_id != blank %}
    <div class="nosto_element cartpage-nosto" id="cartpage-nosto-2"></div>
    <div class="nosto_element cartpage-nosto" id="cartpage-nosto-3"></div>
  {% endif %}

</div>