{% comment %} :: BORDER-FREE : Setup proper script/config based on domain :: {% endcomment %}
{% assign isProd = settings.borderfree_production %}

{% comment %} :: CONFIG - Default to Dev, unless domain = Prod Url :: {% endcomment %}
{% assign borderfree_js_url = settings.borderfree_js_url_dev %} 
{% assign borderfree_js_config = settings.borderfree_js_config_dev %}
{% assign borderfree_merchant_url = settings.borderfree_merchant_url_dev %}

{% comment %} :: PROD CHECK - Update URL & Config if Production URLs :: {% endcomment %}
{% if isProd %}
  {% assign borderfree_js_url = settings.borderfree_js_url_prod %} 
  {% assign borderfree_js_config = settings.borderfree_js_config_prod %}
  {% assign borderfree_merchant_url = settings.borderfree_merchant_url_prod %}
{% endif %}





{% comment %} :: BORDER-FREE : JS Snippets :: {% endcomment %}
{% if settings.borderfree_enabled == true %}

  {% comment %} :: LIBRARY SCRIPT :: This script needs to wait for dom load. {% endcomment %}
  {{ 'borderfree.js' | asset_url | script_tag }} 


  {% comment %} :: MAIN SCRIPT :: {% endcomment %}
  <script id="bfx-snippet">
    (function(e,n,o,t,a){function c(n){e[t]._apiKey=n.key;e[t]._env=n.env;e[t]._logLevel=n.logLevel;
    e[t]._mode=n.mode;e[t]._brand=n.brand;e[t]._cookieFlag=n.cookieFlag}e[t]=c;e[t].l=1*new Date;var i,l;
    i=n.createElement(o);l=n.getElementsByTagName(o)[0];i.async=1;i.src=a;l.parentNode.insertBefore(i,l);
    })(window,document,"script","bfx",
    "{{ borderfree_js_url }}");
    bfx( {{ borderfree_js_config }} );
      

    {% comment %} :: UI ELEMENT APPENDING :: (Script builds hidden UI elements, then appends to desired DOM nodes) {% endcomment %}
    var startTime = new Date().getTime();
    var interval = setInterval( function(){

      // SCAN : Checks the DOM for 6 secs after init and attempts to inject the hidden dom nodes
      if(new Date().getTime() - startTime > 6000){ //Don't lower this, tends to break w.o a longer window to attach
        clearInterval(interval);
        return;
      }

      // UI : Append built nodes to the UI elements specified
      {% comment %} :: PRICE - Add Price Tagging :: {% endcomment %}
      $('span.money').each(function(){ $(this).addClass('bfx-price'); });   
      $('div.product-price-wrap > div').each(function(){ $(this).addClass('bfx-price'); });
      $('div.ajaxcart > div > p:nth-child(2) > strong').each(function(){ $(this).addClass('bfx-price'); });
      

      {% comment %} :: NAV - Country Selector :: {% endcomment %}
      $('#bfx-cc-wrapper .bfx-cc-collapsed').prependTo('#nav-item-borderfree'); // Nav Icon
      $('#bfx-cc-wrapper .bfx-cc-expanded').prependTo('#nav-modal-borderfree'); // Modal Portion
 
      {% comment %} :: NAV - MODAL MODIFICATIONS :: {% endcomment %}
      $( '#nav-modal-borderfree .bfx-cc-text' ).html('<div class="bf-modal-title">Choose Country & Currency</div><div class="bf-modal-body">Please select the country you would like to ship to and your currency.</div>' );

      {% comment %} :: CART - Attach cart tagging :: {% endcomment %}
      $('#checkout').addClass('bfx-checkout');
        

      {% comment %} :: CHECKOUT - Add Checkout Tag :: {% endcomment %}                                  
      {% if template == 'checkout' %}
        $('body > div.content > div.wrap').addClass('bfx-checkout-container');
      {% endif %}
      
    }, 500);
  </script>


  {% comment %} :: MERCHANT SCRIPT :: {% endcomment %}
  <script src="{{ borderfree_merchant_url }}"></script>


  {% comment %} :: INIT CALL :: {% endcomment %}
  <script>
    var isProd = {{ isProd }};

    // Borderfree must wait for DOM ready because it tries to access things before it is ready. 
    $(document).ready( function(){
      (function() {
        Borderfree.init( isProd );
      }());
    });
  </script>

{% endif %}
