<div style="display:none">
  <div id="cookie-banner--popup">
    <div class="row">
      <div id="cookie-banner--popup--inner">

        <div class="text-container">

          <div class="mobile-text">{{ settings.cookie_banner_mobile_text }}</div><!-- .mobile-text -->
          <div class="desktop-text">{{ settings.cookie_banner_desktop_text }}</div><!-- .desktop-text -->

        </div><!-- .text-container -->

        <div class="buttons">
          <a class="button more-info" href="{{ settings.cookie_banner_mobile_button }}" target="_blank">
            {{ settings.cookie_banner_mobile_button_text }}
          </a>
          <a class="button button-close">
            {{ settings.cookie_banner_accept_button_text }}
          </a>
        </div><!-- .buttons -->

      </div><!-- #cookie-banner--popup--inner -->
    </div><!--.row-->
  </div><!--#cookie-banner--popup-->
</div>