<nav id="nav-menu-mobile">

  {% comment %} :: MOBILE MENU :: {% endcomment %}
  <ul id="accordion">
    {% assign menu = linklists[settings.main_nav] %}
    {% for link in menu.links %}
      

      {% comment %} :: LEVEL 1 : SUB-NAV : Accordion (Has nested menus) :: {% endcomment %}
      {% if link.links != blank %}
        <li class="accordion-header accordion-toggle" aria-haspopup="true" aria-expanded="false">{{ link.title | escape }}</li>
        
        <div class="accordion-content">
          <ul class="sub">
            {% for sub_link in link.links %}


              {% comment %} :: LEVEL 2 : SUB-NAV : First sub-nav has children nav elements :: {% endcomment %}
              {% if sub_link.links != blank %}
                
                {% comment %} :: LEVEL 2 : Title :: {% endcomment %}
                <div class="accordion-sub-header accordion-toggle" aria-haspopup="true" aria-expanded="false"><span>{{ sub_link.title | escape }}</span></div>
                
                {% comment %} :: LEVEL 2 : Nested Sub-Sub-Nav Menu :: {% endcomment %}
                <div class="accordion-content2">
                  <ul class="sub">
                    {% for sub_sub_link in sub_link.links %}
                      
                      {% comment %} PREVENT : Entries that denote a gap for desktop (are named "-'){% endcomment %}
                      {% if sub_sub_link.title != '-' %}

                        {% comment %} PSEUDO HEADER : Adding "SUB-HEADER_ will cause entry to not link, but be a nested header" {% endcomment %}
                        {% if sub_sub_link.title contains 'SUB-HEADER_' %}
                          <li class="link-sub-header custom-sub-header">{{ sub_sub_link.title | replace: 'SUB-HEADER_', '' }}</li>
                        {% else %}
                          <li {% if sub_sub_link.title contains 'Shop All' %} class="shop-all" {% endif %}>
                            <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                          </li>
                        {% endif %}

                      {% endif %}

                    {% endfor %}
                  </ul>
                </div>


              {% comment %} 
                :: LEVEL 2 : FLAT : Sub-topic has no nested elements :: 
                  * Hides menu elements that are titled as "-" which mark space gaps on desktop
              {% endcomment %}
              {% elsif sub_link.title != '-' %}

                {% comment %}Prevent our pseudo-sub-headers from showing on mobile (name starts with "SUB-HEADER_") {% endcomment %}
                {% if sub_link.title contains 'SUB-HEADER_' %}{% else %}
                  <li class="link-sub-header {% if sub_sub_link.title contains 'Shop All' %} shop-all {% endif %}">
                    <a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                  </li>
                {% endif %}

              {% endif %}

            {% endfor %}
          </ul>
        </div>


      {% comment %} :: LEVEL 1 : FLAT : Simple Menu (has no nested children) :: {% endcomment %}
      {% elsif link.title != '-' %}
        <li class="link-header"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
      {% endif %}

    {% endfor %}
  </ul>


  {% comment %} :: FOOTER - Nav Element Count to size properly :: {% endcomment %}
  {% assign footerItemCount = 0 %}
  {% if section.settings.show_site_picker %}
    {% assign footerItemCount = footerItemCount | plus: 1 %}
  {% endif %}

  {% if settings.borderfree_enabled %}
    {% assign footerItemCount = footerItemCount | plus: 1 %}
  {% endif %}

  {% if shop.customer_accounts_enabled %}
    {% assign footerItemCount = footerItemCount | plus: 1 %}
  {% endif %}

  {% if section.settings.show_wishlist %}
    {% assign footerItemCount = footerItemCount | plus: 1 %}
  {% endif %}


  {% comment %} :: FOOTER - Mobile Nav Menu :: {% endcomment %}
  <div id="nav-menu-mobile-footer" data-child-count="{{ footerItemCount }}">

    {% comment %} ..:: SITE PICKER : (US, UK, EU, CAN) ::.. {% endcomment %}
    {% if section.settings.show_site_picker %}
      <div id="nav-sites-picker-mobile" class="nav-footer-item-mobile">
        {% include 'sites-picker', showFullName: false, showFlagIcon: false %}
      </div>
    {% endif %}

    {% comment %} ..:: BORDER-FREE ::.. {% endcomment %}
    {% if settings.borderfree_enabled %}
      <div id="nav-border-free-mobile" class="nav-footer-item-mobile">
        {% comment %} This makes a space, can only generate one borderfree button so uses desktop {% endcomment %}
      </div>
    {% endif %}

    {% comment %} ..:: ACCOUNT ::.. -- THIS WILL BE REPLACED WITH BORDERFREE EVENTUALLY {% endcomment %}
    {% if shop.customer_accounts_enabled %}
      <div class="nav-footer-item-mobile nav-account {% if section.settings.account_icon == 'text' %}nav-account-text-mode{% endif %}">
        {% include 'nav-account-item' %}
      </div>
    {% endif %}

    {% if section.settings.show_wishlist %}
      <div class="nav-footer-item-mobile nav-wishlist">
        {% comment %} :: PLACEHOLDER HEART ICON ::
          {% include 'svg-icon-heart' %}
        {% endcomment %}

        {% comment %} :: Wishlist King App :: {% endcomment %}
        <!-- include 'wishlist-link' -->
      </div>
    {% endif %}

  </div>
</nav> 