<!-- do not delete this snippet -->
<div id="mobile_drawer">
  <div class="menu-title">
    <span class="drawer-close">
      &times;
    </span>

    <div class="mobile-nav-icon-bar">
      {% include 'nav-account-item' %}

      {% comment %} :: Wishlist King App :: {% endcomment %}
      {% if settings.app_wk_enabled %}
        <img src="{{ 'favorites.png' | file_img_url }}" alt="wishlist link" class="nav-icon-link">
        <!-- include 'wishlist-link' -->

      {% else %}
        {% comment %} :: Heart Icon Placeholder :: {% endcomment %}
        {% include 'svg-icon-heart' %}
      {% endif %}
      
    </div>

    <div id="sidebar-search-box">
      {% include 'search-box' %}
    </div>


  </div>
  <ul class="ul nav clearfix">
    {% for link in linklists[settings.main_nav].links  %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links == blank %}
    <li class="li{% if link.active %} active{% endif %}">
      <div class="link">
        <a href="{{link.url}}">
          {{link.title}}
        </a>
      </div>
    </li> 
    {% else %}
    <li class="has-child li{% if link.active %} active{% endif %}">
      <div class="link">
        <a {% unless link.url == blank %}href="{{link.url}}{% endunless %}">
          {{link.title}}
        </a>
        <span class="icon-wrap">
          <i class="fa fa-plus" aria-hidden="true"></i> 
        </span>
      </div>

      <div class="child-menu">
        <ul class="child-ul">
          {% for childlink in linklists[child_list_handle].links %}
          {% assign sub_child_list_handle = childlink.title | handleize %}
          {% if linklists[sub_child_list_handle].links == blank %}
          {% assign third_tire = false %}
          {% else %}
          {% assign third_tire = true %}
          {% endif %}
          {% if third_tire %}
          <li class="has-child child-li">
            <div class="link">
              <a {% unless childlink.url == blank %}href="{{ childlink.url }}{% endunless %}">{{ childlink.title | escape }}</a>
              <span class="icon-wrap">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
            <ul class="child-menu third_menu">
              {% for subchildlink in linklists[sub_child_list_handle].links %}
              <li>
                <div class="link">
                  <a href="{{ subchildlink.url }}">{{ subchildlink.title | escape }}</a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="child-li">
            <div class="link">
              <a {% unless childlink.url == blank %}href="{{ childlink.url }}{% endunless %}">{{ childlink.title | escape }}</a>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </li> 
    {% endif %}
    {% endfor %}
  </ul>
  
</div>