<!-- do not delete this snippet -->
<div id="mobile_drawer">
  <h3 class="menu_title">
    Shop For
    <span class="drawer_close">
      &times;
    </span>
  </h3>
  <ul class="ul nav clearfix">
    {% for link in linklists[settings.main_nav].links  %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links == blank %}
    <li class="li{% if link.active %} active{% endif %}">
      <div class="link">
        <a href="{{link.url}}">
          {{link.title}}
        </a>
      </div>
    </li> 
    {% else %}
    <li class="has_child li{% if link.active %} active{% endif %}">
      <div class="link">
        <a {% unless link.url == blank %}href="{{link.url}}{% endunless %}">
          {{link.title}}
        </a>
        <span class="icon_wrap">
          <i class="icon icon-plus" aria-hidden="true"></i> 
        </span>
      </div>

      <div class="child_menu">
        <ul class="child_ul">
          {% for childlink in linklists[child_list_handle].links %}
          {% assign sub_child_list_handle = childlink.title | handleize %}
          {% if linklists[sub_child_list_handle].links == blank %}
          {% assign third_tire = false %}
          {% else %}
          {% assign third_tire = true %}
          {% endif %}
          {% if third_tire %}
          <li class="has_child child_li">
            <div class="link">
              <a {% unless childlink.url == blank %}href="{{ childlink.url }}{% endunless %}">{{ childlink.title | escape }}</a>
              <span class="icon_wrap">
                <i class="icon icon-plus" aria-hidden="true"></i>
              </span>
            </div>
            <ul class="child_menu third_menu">
              {% for subchildlink in linklists[sub_child_list_handle].links %}
              <li>
                <div class="link">
                  <a href="{{ subchildlink.url }}">{{ subchildlink.title | escape }}</a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="child_li">
            <div class="link">
              <a {% unless childlink.url == blank %}href="{{ childlink.url }}{% endunless %}">{{ childlink.title | escape }}</a>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </li> 
    {% endif %}
    {% endfor %}
  </ul>
  
</div>