{% assign menu = linklists[section.settings.main_nav] %}

<nav id="nav" data-link-count="{{ menu.links.size }}" {% if section.settings.full_width_header %} class="gridlock-fluid"{% endif %}>
  <div id="nav-menu-desktop" class="row">
    <ul id="nav-menu-desktop-list" data-link-count="{{ menu.links.size }}">
      {% for link in menu.links %}

        {% assign meganav = false %}
        {% for block in section.blocks %}

          {% comment %} First Checks if the top link name matches the "menu_item" in its block settings and that its a mega_menu type {% endcomment %}
          {% if block.settings.menu_item == link.title and block.type == 'mega_menu' %}
            
            {% comment %} :: MEGA-MENU - WRAPPER :: {% endcomment %}
            {% capture megalink %}
              <li class="nav-primary-link nav-mega-menu {{ link.title | replace: ' ', '-' | downcase }} dropdown has_sub_menu" 
                aria-haspopup="true" 
                aria-expanded="false">


                {% comment %} :: CATEGORY HEADER :: {% endcomment %}
                <a href="{{ link.url }}" class="nav-category-header">{{ link.title }}</a>
                

                {% comment %} :: MEGA-MENU - LIST :: {% endcomment %}
                <ul class="megamenu">
                  <div class="mega-container" 
                    data-has-mega-image="{% if block.settings.nav_image != blank %}true{% else %}false{% endif %}">


                    {% comment %} :: MEGA-MENU - LINKS :: {% endcomment %}
                    <span class="mega-column-content">

                      {% comment %} NOTE : Link, here, is the top-level nav item (EX: "Women") {% endcomment %}
                      {% case link.links.size %}
                        {% when 0 %}
                        {% when 1 %}
                          {% assign column_width = 'desktop-12 tablet-fourth' %}
                        
                        {% when 2 %}
                          {% assign column_width = 'desktop-6 tablet-fourth' %}
                        
                        {% when 3 or 6 %}
                          {% assign column_width = 'desktop-4 tablet-fourth' %}
                        
                        {% else %}
                          {% comment %} DEFAULT : set default to be 3 columns {% endcomment %}
                          {% assign column_width = 'desktop-4 tablet-fourth' %} 
                      {% endcase %}

                      {% comment %} :: SUB-NAV - LINKS :: {% endcomment %}
                      {% for sub_link in link.links %}
                        <li class="nav-sub-item  {{ sub_link.title | replace: ' ', '-' | downcase }} {{ column_width }}">
                          <h5 class="nav-sub-header"><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></h5>
                          
                          {% if sub_link.links != blank %}
                            <ul class="mega-stack">
                              {% for sub_sub_link in sub_link.links %}
                                {% comment %} 
                                  HEADINGS : Account for..
                                    1. '-' (Entry in menu means make a gap)
                                    2. 'SUB-HEADER_Somethin' (A Nested Sub-Header in the "sub-sub" list)
                                    3. Regular Sub-Sub-List links
                                {% endcomment %}

                                {% comment %} :: #1 - Space Entry :: {% endcomment %}
                                {% if sub_sub_link.title == '-' %}
                                  <li class="nav-list-space"></li>

                                {% comment %} :: #2 - Nested Sub-Sub Header :: {% endcomment %}
                                {% elsif sub_sub_link.title contains 'SUB-HEADER_' %}  
                                  <h5 class="nav-sub-header inline-sub-header {{ sub_sub_link.title | replace: ' ', '-' | downcase }}">
                                    <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title | replace:  'SUB-HEADER_', '' }}</a>
                                  </h5>

                                {% comment %} :: #3 - Regular Sub-Sub Link (notice 'Shop All' Case in this also) :: {% endcomment %}
                                {% else %}
                                  <li class="nav-sub-sub-item {{ sub_sub_link.title | replace: ' ', '-' | downcase }}">

                                    <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                                  </li>
                                {% endif %} 

                              {% endfor %}
                            </ul>
                          {% endif %}

                        </li>
                      {% endfor %}
                    </span>


                    {% comment %} :: MEGA-MENU - IMAGE :: {% endcomment %}
                    {% if block.settings.nav_image != blank %}
                      
                      {% comment %} :: IMAGE PLACEMENT :: If titles, make image smaller, otherwise let image fill pane {% endcomment %}
                      {% assign hasTitleOrSub = false %}
                      {% if block.settings.nav_image_title != blank or block.settings.nav_image_sub_title != blank %}
                        {% assign hasTitleOrSub = true %}
                      {% endif %}

                      <span class="mega-image mm-image {% if hasTitleOrSub %} mega-image-with-titles {% endif %}">
                        <a class="mega-image-asset" href="{{ block.settings.nav_image_link }}" style="background-image: url( '{{ block.settings.nav_image | img_url: '300x' }}' );" alt="block.settings.nav_image.alt"></a>
                        
                        {% if block.settings.nav_image_title != blank %}
                          <a class="mega-image-title" href="{{ block.settings.nav_image_link }}">{{ block.settings.nav_image_title }}</a>
                        {% endif %}

                        {% if block.settings.nav_image_sub_title != blank %}
                          <a class="mega-image-sub-title" href="{{ block.settings.nav_image_link }}">{{ block.settings.nav_image_sub_title }}</a>
                        {% endif %}
                      </span>
                    {% endif %}

                  </div>
                </ul>
              </li>
            {% endcapture %}
            {% assign meganav = true %}
          {% endif %}
        {% endfor %}


{% comment %} :: RENDER : MEGA-NAV :: {% endcomment %}
        {% if meganav %}
          {{ megalink }}



{% comment %} :: PLAIN DROPDOWN (Dropdown with no megamenu) :: {% endcomment %}
        {% elsif link.links != blank %}
          
          {% comment %} :: VAR : num : Links Per Column :: {% endcomment %}
          {% assign num = section.settings.linklist_breakpoint | plus:0 %}

          {% comment %} :: VAR : numx : How many links in this list :: {% endcomment %}
          {% assign numx = linklists[link.handle].links.size %}

          {% comment %} :: VAR : numy : Number of links divided by number per column :: {% endcomment %}
          {% assign numy = numx | divided_by: num %}

          {% comment %} :: VAR : mod : Modulo balance of total links divided by links per column :: {% endcomment %} 
          {% assign mod = numx | modulo:num %}

          {% comment %} :: VAR : mod_offset : Calculate the modulo offset :: {% endcomment %} 
          {% assign mod_offset = numx | minus:mod %}

          {% comment %}
            REVIEW : 
              {{ num }}  Chosen number of links per column
              {{ numx }} Number of links in the linklist
              {{ numy }} Columns needed
              {{ mod }}  Balance for last column
              {{ mod_offset }} Links to offset before adding mod
          {% endcomment %}

          {% comment %} :: Start math for calculated multi column dropdowns :: {% endcomment %}
          <li class="nav-primary-link nav-simple-menu dropdown has_sub_menu" aria-haspopup="true" aria-expanded="false">
            <a href="{{ link.url }}" class="nav-category-header">{{ link.title }}</a>
            
            {% comment %} :: PLAIN DROPDOWN : Multi-Columns :: {% endcomment %}
            {% if link.links.size > num %}
              {% include 'navigation-columns' %}
            

            {% comment %} :: PLAIN DROPDOWN : Single Column : List small enough to fit as 1 column :: {% endcomment %}
            {% else %}
              <div class="submenu">
                
                <ul class="submenu-links">

                  {% for sub_link in link.links %}
                    <li class="has_sub_menu" aria-haspopup="true" aria-expanded="false"><a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                      
                      {% if sub_link.links != blank %}
                        <ul class="nested">
                          {% for sub_sub_link in sub_link.links %}
                            <li class="{{ sub_sub_link.title | replace: ' ', '-' | downcase }}"><a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                    </li>
                  {% endfor %}

                </ul>




                {% comment %} :: menu image :: {% endcomment %}
                <div class="menu-product">
                  <div class="menu-product-box">
                    <div class="menu-product-img">
                      <img src="{{ 'footerGiftCard.jpg' | file_img_url }}" alt="menu product">
                    </div>
                    <div class="menu-product-details">
                      <h4 class="product-tile">
                        <a href="#" class="fill-link">Mobile Comfort™ Deluxe Massaging Travel Cushion with 12V Car Adapter</a>
                      </h4>
                      <div class="product-promotion">
                        <span>20% off - discount in cart</span>
                        <span>Free Shipping</span>
                      </div>
                      <div class="product-pricing">
                        <span class="product-sale-price">$49.99</span>
                        <span class="product-compare-price">$59.99</span>
                      </div>
                    </div>
                  </div>

                  <a href="#" class="product-category-link">Shop all Massage</a>

                </div>

              </div>
            {% endif %}

          </li>


{% comment %} :: SINGLE LINK : One lonely weeb link :: {% endcomment %}
        {% else %}
          <li class="nav-primary-link nav-single-link {{ link.title | replace: ' ', '-' | downcase }}">
            <a class="nav-category-header" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}

      {% endfor %}
    </ul>
  </div>
</nav>
