{% comment %}
  :: PRODUCT IMAGE GALLERY ::
  -----------------------------------------------------------------------------
    WHAT:
      - Reads productImages array (creating it from product.images if missing)
        and generates both big image and thumbnail slider pieces

    REQUIRES:
      1. PRODUCT IMAGES : "productImages"
          - Type: Array
          - Array of all product images, be they from the merge or single product


    EXAMPLE: (How to include this snippet)
      {% include 'product-image-gallery', productImages: arrayOfImages %} (Only need variable if using somewhere other than product-template.liquid)
{% endcomment %}
{% comment %} :: IMAGE GALLERY - SAFETY CHECK :: {% endcomment %}
{% if productImages == blank %}
  {% assign productImages = product.images %}
{% endif %}
{% comment %} :: IMAGE GALLERY - VIEW BOX RATIO :: {% endcomment %}
{% assign product_image_box_ratio_max = 0 %}
{% for image in productImages %}
  {% assign image_box_ratio = image.height | append: ".0" | times: 1 | divided_by: image.width | times: 100 %}
  {% if image_box_ratio > product_image_box_ratio_max %}
    {% assign product_image_box_ratio_max = image_box_ratio %}
  {% endif %}
{% endfor %}

{% assign product_image_box_ratio_max = product_image_box_ratio_max | append: "%" %}

{% comment %} :: TEMPLATE - MAIN IMAGES :: {% endcomment %}
<div class="product-main-images {% unless section.settings.show_zoom %} no-zoom {% endunless %}">
  <div class="product-image-container">

    {% comment %} :: ITEM BADGE :: (Goes on top of image) {% endcomment %}
    {% include 'react-item-badge' %}
    
    {% comment %} :: IMAGE ITEMS :: {% endcomment %}
    {% for image in productImages %}
      {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

      <div class="product-main-image {% if forloop.first %}selected{% endif %}" 
        data-image-id="{{ image.id }}"
        data-color="{{ image.alt | escape }}">
        
        {% comment %} :: ZOOM - Overlay Region :: {% endcomment %}
        {% if section.settings.show_zoom %}
          <a class="product-fancybox" rel="product-images"  href="{{ image | img_url: '2400x' }}">
        {% endif %}

        {% comment %} :: MAIN IMAGE :: {% endcomment %}
        <img class="product-image-content lazyload lazyload-fade"
          src="{{ image | product_img_url: '300x' }}"
          data-src="{{ img_url }}"
          data-sizes="auto"
          {% if section.settings.show_zoom %} data-zoom-src="{{ image | img_url: '2400x' }}" {% endif %}
          alt="{{ image.alt | escape }}">
      

        {% if section.settings.show_zoom %}
          </a>
        {% endif %}

        {% comment %} :: FALLBACK :: {% endcomment %}
        <noscript>
          <img id="{{ product.id }}" class="product-main-image" src="{{ featured_image | product_img_url: '800x' }}" alt='{{ image.alt | escape }}'/>
        </noscript>

      </div>
    {% endfor %}

    {% comment %} :: VIDEO PLAYER (Desktop) :: {% endcomment %}
    {% if video_data != blank %}

      {% comment %} :: VIDEO - ITERATE :: (Build an element for each set of video props in 'video_data' array) {% endcomment %}
      {% for video_props in video_data %}

        {% include 'product-video-util--props' %}
        {% include 'product-video--player-desktop' %}

      {% endfor %}
    {% endif %}

  </div>
</div>


{% include 'product-image-gallery--thumbnails' %}