{%- if settings.share_facebook == true and settings.facebook_url != blank -%}
  <li>
    <a href="{{ settings.facebook_url }}" target="_blank">
      {% include 'svg-icon-facebook' %}
    </a>
  </li>
{%- endif -%}

{%- if settings.share_instagram == true and settings.instagram_url != blank -%}
    <li>
      <a href="{{ settings.instagram_url }}" target="_blank">
        {% include 'svg-icon-instagram' %}
      </a>
    </li>
{%- endif -%}

{% if settings.share_youtube == true and settings.youtube_url != blank %}
  <li>
    <a href="{{ settings.youtube_url }}" target="_blank">
      {% include 'svg-icon-youtube' %}
    </a>
  </li>
{% endif %}

{%- if settings.share_twitter == true and settings.twittername != blank -%}
  <li>
    <a href="{{ settings.twittername }}" target="_blank">
      {% include 'svg-icon-twitter' %}
    </a>
  </li>
{%- endif -%}

{%- if settings.share_pinterest == true and settings.pinterest_url != blank -%}
  <li>
    <a href="{{ settings.pinterest_url }}" target="_blank">
      {% include 'svg-icon-pinterest' %}
    </a>
  </li>
{%- endif -%}

{%- if settings.tumblr_url != blank -%}
  <li>
    <a href="{{ settings.tumblr_url }}" target="_blank">
      <i class="fa fa-tumblr fa-2x"></i>
    </a>
  </li>
{%- endif -%}

{%- if settings.googleplus_url != blank -%}
  <li>
    <a href="{{ settings.googleplus_url }}" target="_blank">
      <i class="fa fa-google-plus fa-2x"></i>
    </a>
  </li>
{%- endif -%}

