<div id="page_with_sidebar">
  <div class="desktop-3 tablet-2 mobile-full no_left">
      {% include 'sidenav' %} 
  </div>  
  <div class="desktop-9 tablet-4 mobile-full">
      <div class="questionaire">
      <div class="section-title account-header desktop-12 tablet-6 mobile-3">
        <h1 class="main_header">{{ 'customer.account.title' | t }}</h1>
      </div>


      <div id="customer-wrapper" class="desktop-12 tablet-6 mobile-3">

        <div id="customer_sidebar"{% comment %} class="{% if customer.orders.size != 0 %}desktop-4{% else %}desktop-12{% endif %} mobile-3{% endcomment %}">
          <div id="customer_detail" class="group">
            <h5 class="name">{{ customer.name }}</h5>
            <p class="email note">{{ customer.email }}</p>
            <div class="address note">
              {% if customer.default_address != nil %}
              <p>{{ customer.default_address.address1 }}</p>
              {% if customer.default_address.address2 != "" %}
              <p>{{ customer.default_address.address2 }}</p>
              {% endif %}
              <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
              <p>{{ customer.default_address.zip}}</p>
              <p>{{ customer.default_address.phone }}</p>
              {% endif %}
              <a id="view_address" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
            </div>
            <a id="sign_out" href="{{ shop.url }}/account/logout">{{ 'customer.account.sign_out' | t }}</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>