{%- assign product = all_products[section.settings.featured_product] -%}
{% assign current_variant = product.selected_or_first_available_variant %}

{% if product == empty %}
  {%- assign section_onboarding = true -%}
{% else %}
  {% comment %}
    :: MERGE SNIPPET ::
      - Allows merging split products to single PDP
    -------------------------------------------------------------------- {% endcomment %}
  {% include 'product-merger--pdp' %}
{% endif %}


<section
  class="homepage-section featured-product product-{{ product.id }} product-page product-template index-section no-fouc"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product-section">

{% if section_onboarding %}
 {% include 'onboard-single-product' %}
{% else %}
  <div class="row">
    <h2 class="section-heading text-center">
     <a href="{{ product.url }}">
       {{ section.settings.heading }}
     </a>
    </h2>
  </div>

  <div class="row">
   <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
   <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

   <div class="featured-product-gallery">
     <div id="mobile-product-photos" class="owl-carousel desktop-hide tablet-hide mobile-3">
       {%- if product.featured_image -%}
         {% include 'mobile-product-image-gallery' %}
       {%- else -%}
         {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
         {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
       {%- endif -%}
     </div>

     <div id="product-photos" class="desktop-6 tablet-3 mobile-hide" data-product-gallery>
       {%- if product.featured_image -%}
         {% include 'product-image-gallery' %}
       {%- else -%}
         {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
         {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
       {%- endif -%}
     </div>

   </div>
   <div class="featured-product-description desktop-6 tablet-3 mobile-3">
     {% if section.settings.vendor %}
       <h4>{{ product.vendor }}</h4>
     {% endif %}
     <h2>
       <a href="{{ product.url }}">
         {{ product.title | escape }}
       </a>
     </h2>

     <div class="featured-product-form">
      {% capture product_form_config %}
        {
          "button": {{ 'products.product.add_to_cart' | t | json }},
          "currency_switcher_enabled": {{ settings.show_multiple_currencies | json }},
          "enable_history": false,
          "hide_price_on_unavailable": false,
          "money_format": {{ shop.money_format | json }},
          "sold_out": {{ "products.product.sold_out" | t | json }},
          "unavailable": {{ 'products.product.unavailable' | t | json }},
          "variant_display_type": {{ section.settings.variant_display_type | json }}
        }
      {% endcapture %}
      {% include 'product-form' %}

      <div class="clear"></div>

      {% if section.settings.show_social_share %}
       {% include 'social' with product %}
      {% endif %}
     </div>

     <div class="clear"></div>

     <div class="rte product-description-content">
       {{ product.description }}
     </div>
  </div>
 </div>
{% endif %}

</section>
<div class="clear"></div>

<style>
  .flex-active-slide {
    opacity: 1 !important;
  }
  .homepage-section.featured-product.product-{{ product.id }} {
    padding: 20px 0;
  }
  .homepage-section.featured-product.product-{{ product.id }} .featured-product-gallery.right {
    float: right !important;
  }
  {% if section.settings.variant_display_type == 'swatches' %}
    .homepage-section.featured-product.product-{{ product.id }} .selector-wrapper {
      display: none;
    }

    .homepage-section.featured-product.product-{{ product.id }} .single-option-selector {
      opacity: 0;
      display: none;
    }
  {% else %}
    .homepage-section.featured-product.product-{{ product.id }} .selector-wrapper {
      display: block;
    }

    .homepage-section.featured-product.product-{{ product.id }} .single-option-selector {
      opacity: 1;
      display: block;
    }
  {% endif %}

  .featured-product-description .product-details {
    padding: 10px;
    list-style: none;
  }
  {% if section.settings.swatch_shape == 'circles' %}
    .swatch .color label {
      min-width: 34px !important;
      width: 34px !important;
      border-radius: 50%;
      outline: 0 !important;
    }
  {% endif %}
</style>

{% schema %}
{
 "name": "Featured product",
 "settings": [
    {
     "type": "text",
     "id": "heading",
     "label": "Heading",
     "default": "Featured Product"
    },
    {
     "type": "product",
     "id": "featured_product",
     "label": "Product"
    },
    {
     "type": "radio",
     "id": "variant_display_type",
     "label": "Product variant display",
      "options": [
        {
          "value": "drop-downs",
          "label": "Drop-downs"
        },
        {
          "value": "swatches",
          "label": "Swatches"
        }
      ],
      "default": "swatches"
      },
    {
      "type": "select",
      "id": "swatch_shape",
      "label": "Color swatch shape",
      "options": [
        {
          "value": "circles",
          "label": "Circles"
        },
        {
          "value": "rectangles",
          "label": "Rectangles"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_controls",
      "label": "Show gallery controls",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)",
      "default": false
    },
    {
     "type": "checkbox",
     "id": "show_social_share",
     "label": "Show social share icons",
     "default": true
    }
   ],
   "presets": [
   {
     "name": "Featured product",
     "category": "Product"
   }
 ]
}
{% endschema %}
