<div id="header-section" 
  data-section-id="{{ section.id }}" 
  data-section-type="header-section" 
  data-swap-rate="{{ section.settings.announcement_swap_rate }}">
  
  {% comment %} ..:: PROMO BANNER PORTION ("Announcements") ::.. {% endcomment %}
  {%- if section.settings.show_announcement_text -%}
    {% include 'header-announcement-bar' %}
  {%- endif -%}


  {% comment %} ..:: NAVIGATION PORTION ::.. {% endcomment %}
  {%- capture wrapperClasses -%}
    {% if section.settings.full_width_header %} gridlock-fluid {% endif %}
    {% if settings.nav_transparent_landing %} transparent-landing {% endif %}
  {%- endcapture -%}

  <header id="nav-bar-wrapper" class="{{ wrapperClasses }}">
    {% if section.settings.full_width_header %}<div class="row">{% endif %}

    {% comment %} ..:: NAV-BAR : BG + NAV-ITEMS WRAPPER ::.. {% endcomment %}
    <div id="nav-bar-bg"></div>
    <div id="nav-bar" class="row">

      {% comment %} ..:: NAV : BRAND LOGO ::.. {% endcomment %}
      <div id="nav-logo">
          <a href="/">
            {% include 'svg-icon-header-logo' %}
          </a>
      </div>
      <div id="nav-logo-backing"></div>


      {% comment %} ..:: NAV : ACCOUNT + CART + SEARCH (Right Elements) ::.. {% endcomment %}
      <div id="nav-user">
        <ul id="nav-user-list"> 

          {% comment %} ..:: SITE PICKER : (US, UK, EU, CAN) ::.. {% endcomment %}
          {% if section.settings.show_site_picker %}
            <li class="nav-item nav-sites">
              {% include 'sites-picker' %}
            </li>
          {% endif %}


          {% comment %} ..:: BORDER FREE - Nav Button ::.. 
          {% if settings.borderfree_enabled %}
            <li id="nav-item-borderfree" class="nav-item nav-borderfree"></li>
          {% endif %}
          {% endcomment %}


          {% comment %} ..:: ACCOUNT ::.. {% endcomment %}
          {% if shop.customer_accounts_enabled %}
            <li class="nav-item nav-account {% if section.settings.account_icon == 'text' %}nav-account-text-mode{% endif %}">
              {% include 'nav-account-item' %}
            </li>
          {% endif %}


          {% comment %} ..:: SEARCH ::.. 
          {% if section.settings.show_search %}
            <li class="nav-item nav-search">
              {% include 'svg-icon-search' %}
            </li>
          {% endif %}
          {% endcomment %}


          {% comment %} ..:: CURRENCY PICKER (DISABLED) ::.. {% endcomment %}
          {% if settings.show_multiple_currencies %}
            <li class="nav-item nav-currency">{% include 'currencies-picker' %}</li>
          {% endif %}



          {% comment %} ..:: WISHLIST ::.. {% endcomment %}
          {% if section.settings.show_wishlist %}
            <li class="nav-item nav-wishlist">
              
              {% comment %} :: Wishlist King App :: {% endcomment %}
              {% if settings.app_wk_enabled %}
                <img src="{{ 'favorites.png' | file_img_url }}" alt="wishlist link">
                <!-- include 'wishlist-link' -->

              {% else %}
                {% comment %} :: Heart Icon Placeholder :: {% endcomment %}
                {% include 'svg-icon-heart' %}
              {% endif %}

            </li>
          {% endif %}


          {% comment %} ..:: CART ::.. {% endcomment %}
          <li class="nav-item nav-cart">
            <a href="/cart" {% if settings.ajax_cart_method == 'drawer' %} class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false" {% endif %}>
              
              {% if section.settings.cart_icon == 'cart' %}
                {% comment %}{% include 'svg-icon-cart' %}{% endcomment %}
                <img src="{{ 'cart.png' | file_img_url }}" alt="cart link">

              
              {% elsif section.settings.cart_icon == 'bag' %}
                {% include 'svg-icon-shopping-bag' %}
              
              {% elsif section.settings.cart_icon == 'text' %}
                <div class="icon icon-cart-text">{{ section.settings.cart_icon_text_value }}</div>
              {% endif %}

              <span class="cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}">({{ cart.item_count }})</span>
            </a>
          </li>

        </ul>
        <ul id="nav-user-list-2">
          <li>
            <a href="#">
              <img src="{{ 'findStore.png' | file_img_url }}" alt="Find an Airport Store">
              <span class="user-list-text">Find an Airport Store</span>
            </a>
          </li>
          <li>
            <a href="#">
              Customer Care: 
              <span class="user-list-text">800-846-3000</span>
            </a>
          </li>
        </ul>
      </div>


      {% comment %} ..:: SEARCH INPUT :: Appears when user clicks search button on nav ::.. {% endcomment %}
      <div id="nav-search-box">
        {% include 'search-box' %}
      </div>
      

    </div>


    {% comment %} ..:: NAV : SITE-COLLECTIONS (Left Elements) ::.. {% endcomment %}
    <div id="nav-collections">
      {% include 'icon-nav-mobile-menu' %}
      {% include 'navigation' %}
      {% include 'mobile-navigation' %}
    </div>




    {% comment %}  ..:: Bottom Navigation ::..  {% endcomment %}
    {% if section.settings.bottom_nav != blank %}
      <div id="bottom-navbar" class="hide-phone">

        <nav class="bottom-navbar-nav">
          <ul class="bottom-nav" id="mainnav">
            {% for link in linklists[section.settings.bottom_nav].links %}
              {% if link.levels == 0 %}
                <li class="bottom-nav-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>

      </div>
    {% endif %}



    {% comment %} :: SEARCH INPUT :: Appears when user clicks search button on nav 
    {% if section.settings.show_search %}
      <div id="nav-search-bar-wrapper">
        {% include 'nav-search-input' %}
      </div>
    {% endif %}
    {% endcomment %}


    {% comment %} ..:: BORDER-FREE - Modal (injected via borderfree-script.liquid snippet) ::.. {% endcomment %}
    {% if settings.borderfree_enabled %}
      <div id="nav-modal-borderfree">
        <div id="nav-modal-borderfree-close">
          <div class='bar-one'></div>
          <div class='bar-two'></div>
        </div>
      </div>
    {% endif %}



    {% if section.settings.full_width_header %}</div>{% endif %}
  </header>

  



  <style>
    #top-bar, #top-bar-bg {
      height: {{ section.settings.announcement_height }}px;
    }

    /* NAV BAR PANE */
    header #q { /* search panel */
      font-size: {{ section.settings.cart_links_size }}px;
    }

    ul#cart li a {
      font-size: {{ section.settings.cart_links_size }}px;
      font-weight: {{ section.settings.cart_weight }};
    }

    select.currency-picker {
      font-size: {{ section.settings.cart_links_size }}px;
      font-weight: {{ section.settings.cart_weight }};
    }

    nav {
       line-height: {{ section.settings.nav_height }}px;
    }

    {% if section.settings.megamenu_full_width %}
      .megamenu {
        width: 100vw;
      }
    {% else %}
      .megamenu {
        width: 100%;
      }
    {% endif %}


    /* MOBILE MENU : Height Setup
        Notes :
          - announcement_height default is 60px, and can be set to min of 40px
          - actual navigation bar is 50px tall, and since scrolling hides promo, we have a "isStuck" condition which is 
              basically an indicator for the user is scrolled down the page. 
          - Why? Because we need users to be able to scroll the mobile menu, but not scroll backing content on page.
    */
    #nav-bar-wrapper #nav-menu-mobile {
        /* height: calc( 100vh - ( {{ section.settings.announcement_height }}px + 50px ) ); */  /* Promo + Nav bar (50px) */
    }

    /* SCROLLING : Nav bar hides promo bar, so adjust menu height if the user opens menu scrolled down page */
    #nav-bar-wrapper.isStuck #nav-menu-mobile {
        height: calc( 100vh - 50px ); /* nav bar = 50px */
    }
  </style>
</div>




{% schema %}
{
  "name":"Header",
  "settings":[
    {
      "type":"checkbox",
      "id":"full_width_header",
      "label":"Enable full width"
    },
    {
      "type":"header",
      "content":"Announcement Bar"
    },
    {
      "type":"checkbox",
      "default":true,
      "id":"show_announcement_text",
      "label":"Show announcement text"
    },
    {
      "type":"select",
      "id":"num_of_promo_banners",
      "label":"# of Announcement Slots",
      "options":[
        {
          "label":"2",
          "value":"2"
        },
        {
          "label":"1",
          "value":"1"
        }
      ]
    },
    {
      "type":"richtext",
      "id":"announcement_text_one",
      "label":"Announcement Text - #1",
      "default":"FREE SHIPPING ON ORDERS $50 OR MORE"
    },
    {
      "type":"url",
      "id":"announcement_link_one",
      "label":"Announcement Link - #1"
    },
    {
      "type":"richtext",
      "id":"announcement_text_two",
      "label":"Announcement Text - #2",
      "default":"40% OFF YOUR PURCHASE. NO CODE NEEDED."
    },
    {
      "type":"url",
      "id":"announcement_link_two",
      "label":"Announcement Link - #2"
    },
    {
      "type":"range",
      "id":"announcement_height",
      "min":30,
      "max":60,
      "step":1,
      "unit":"px",
      "label":"Announcement Height",
      "default":60
    },
    {
      "type":"range",
      "id":"announcement_swap_rate",
      "min":3,
      "max":30,
      "step":1,
      "unit":"sec",
      "label":"Mobile Banner Change Rate (2 must be enabled)",
      "default":5
    },
    {
      "type":"header",
      "content":"Logo"
    },
    {
      "type":"range",
      "id":"logo_size",
      "min":12,
      "max":36,
      "step":1,
      "unit":"px",
      "label":"Logo text size",
      "default":18
    },
    {
      "type":"select",
      "id":"logo_transform",
      "label":"Logo text case",
      "options":[
        {
          "value":"uppercase",
          "label":"Uppercase"
        },
        {
          "value":"none",
          "label":"Normal"
        }
      ]
    },
    {
      "type":"select",
      "id":"logo_weight",
      "label":"Logo text weight",
      "options":[
        {
          "value":"normal",
          "label":"Normal"
        },
        {
          "value":"bold",
          "label":"Bold"
        }
      ]
    },
    {
      "type":"header",
      "content":"Account Link"
    },
    {
      "type":"select",
      "id":"account_icon",
      "label":"Account Icon",
      "options":[
        {
          "value":"person",
          "label":"Person"
        },
        {
          "value":"text",
          "label":"Text"
        }
      ],
      "info":"Use person icon or text for Account Sign In"
    },
    {
      "type":"text",
      "id":"account_icon_text_value",
      "label":"Account Text (only shown when Account Icon = Text)",
      "default":"Sign In"
    },
    {
      "type":"checkbox",
      "id":"account_show_user_name",
      "label":"Show user first name when Logged in. (Text Mode Only)",
      "default":false
    },
    {
      "type":"header",
      "content":"Cart Link"
    },
    {
      "type":"select",
      "id":"cart_icon",
      "label":"Cart icon",
      "options":[
        {
          "value":"cart",
          "label":"Cart"
        },
        {
          "value":"bag",
          "label":"Bag"
        },
        {
          "value":"text",
          "label":"Text"
        }
      ],
      "info":"Which icon (or text) would you like the cart nav item to appear like?"
    },
    {
      "type":"text",
      "id":"cart_icon_text_value",
      "label":"Cart Text (only shown when Cart Icon = Text)",
      "default":"Cart"
    },
    {
      "type":"header",
      "content":"Multi-Site Picker"
    },
    {
      "type":"checkbox",
      "id":"show_site_picker",
      "label":"Show International Site Picker",
      "default":true
    },
    {
      "type":"text",
      "id":"site_picker_manifest",
      "label":"List of Sites to Include in Site Picker",
      "default":"US|http://mysite.com,EU|http://eu.mysite.com,UK|http://uk.mysite.com,FR|http://fr.mysite.com"
    },
    {
      "type":"header",
      "content":"Nav Search"
    },
    {
      "type":"checkbox",
      "id":"show_search",
      "label":"Show search bar",
      "default":true
    },
    {
      "type":"header",
      "content":"Nav Wishlist"
    },
    {
      "type":"checkbox",
      "id":"show_wishlist",
      "label":"Show wishlist icon on Nav Bar",
      "default":false
    },
    {
      "type":"header",
      "content":"navigation"
    },
    {
      "type":"link_list",
      "id":"main_nav",
      "label":"Menu",
      "default":"main-menu"
    },
    {
      "type":"checkbox",
      "id":"nav_center",
      "label":"Center align navigation"
    },
    {
      "type":"range",
      "id":"nav_height",
      "min":30,
      "max":60,
      "step":2,
      "unit":"px",
      "label":"Height",
      "default":40
    },
    {
      "type":"checkbox",
      "id":"megamenu_full_width",
      "label":"Megamenu Fills Width",
      "info":"(Menu content constrains to site bounds, but fills rest of the space on each side)",
      "default":false
    },
    {
      "type":"range",
      "id":"linklist_breakpoint",
      "min":4,
      "max":20,
      "step":1,
      "label":"Links per column",
      "info":"Break long drop downs into multiple columns",
      "default":10
    },
    {
      "type":"header",
      "content":"Secondary Navbar Menu"
    },
    {
      "type":"link_list",
      "id":"bottom_nav",
      "label":"Menu"
    }
  ],
  "blocks":[
    {
      "type":"mega_menu",
      "name":"Mega-Menu",
      "settings":[
        {
          "type":"checkbox",
          "id":"show_menu_product",
          "label":"Show Featured Item",
          "default":false
        },
        {
          "type":"text",
          "id":"menu_item",
          "label":"Menu Handle",
          "info":"Which primary nav link does this Mega-Menu belong to?"
        },
        {
          "type":"image_picker",
          "id":"nav_product_image",
          "label":"Featured Item Image"
        },
        {
          "type":"url",
          "id":"nav_product_link",
          "label":"Link (optional)"
        },
        {
          "type":"text",
          "id":"nav_product_title",
          "label":"Title text (optional)"
        },
        {
          "type":"richtext",
          "id":"nav_product_desc",
          "label":"More description (optional)"
        },
        {
          "type":"url",
          "id":"nav_product_collection_url",
          "label":"Link to Collection (optional)"
        }
      ]
    }
  ]
}
{% endschema %}
