{% comment %}
Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
<div id="password-bg-img">
  <div class="password-section">
    <h1 class="password-title">Brookstone<sup style="font-size: 50%;">®</sup></h1>
    <h3 class="password-sub-title" style="font-family: sans-serif; font-weight: 400;">We are building a terrific new Brookstone<sup style="font-size: 50%;">®</sup> website for you!</h3>
    <p class="password-text" style="font-family: sans-serif;">In the meantime, if you have questions about your current orders, please contact <a href="tel:18008463000" rel="nofollow" style="color: #fff">800-846-3000</a></p>
  <p class="password-text" style="font-family: sans-serif;">Also, visit <a href="https://www.bedbathandbeyond.com/store/brand/brookstone/877/" rel="nofollow" style="color: #fff">Bed Bath & Beyond</a>, <a href="https://www.jcpenney.com/g/home-store/brookstone?id=cat10010400001" rel="nofollow" style="color: #fff">JC Penney</a> or <a href="https://www.macys.com/shop/featured/brookstone" rel="nofollow" style="color: #fff">Macy's</a> to find a host of new and exciting Brookstone<sup style="font-size: 50%;">®</sup> products.</p>
    <div class="password-form">
      {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
      {%- assign formId = 'PasswordNewsletterForm' -%}
      <input type="hidden" name="contact[tags]" value="prospect, password page">
      {%- if form.posted_successfully? -%}
      <p class="form-message form-message--success" tabindex="-1" data-form-status>
        {{ 'general.password_page.signup_form_success' | t }}
      </p>
      {%- endif -%}

      <div class="input-group{% if form.errors %} input-group--error{% endif %}">
        <input
               type="email"
               name="contact[email]"
               id="{{ formId }}-email"
               class="email-id input-group__field {% if form.errors contains 'email' %} input--error{% endif %}"
               placeholder="{{ section.settings.newsletter_placeholder | escape }}"
               {%- if form.errors contains 'email' -%}
               aria-invalid="true"
               aria-describedby="{{ formId }}-email-error"
               data-form-status
               {%- endif -%}
               >
        <span class="input-group__btn signup-btn">
          <button type="submit" name="commit">
            <span>{{ section.settings.newsletter_button_text | escape }}</span>
          </button>
        </span>
      </div>
      {%- if form.errors contains 'email' -%}
      <p style="font-family: sans-serif; margin-top: 10px;">
        <span id="{{ formId }}-email-error" class="input-error-message">
          <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        </span>
      </p>
      {%- endif -%}

      {% endform %}

    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "hi": "सामग्री",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "ms": "Kandungan",
    "nb": "Innhold",
    "nl": "Inhoud",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter Signup zeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "hi": "न्यूज़लेटर साइनअप दिखाएं",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "メールマガジンの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "ms": "Tunjukkan pendaftaran surat berita",
        "nb": "Vis nyhetsbrev-registrering",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar subscrição da newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": {
        "da": "Vær blandt de første til at få besked ved lancering.",
        "de": "Seien Sie der Erste, der von unserem Launch erfährt.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fi": "Saa tieto julkistuksistamme ensimmäisenä",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "hi": "हम कब लॉन्च करते हैं, यह पता करने वाले सबसे पहले व्यक्ति बनें.",
        "it": "Sii il primo a sapere quando effettueremo il lancio.",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "ko": "출시 할 때 먼저 알아야합니다.",
        "ms": "Jadi yang pertama untuk mengetahui apabila kami dilancarkan.",
        "nb": "Vær den første som får beskjed når vi lanserer.",
        "nl": "Kom als eerste te weten wanneer we van start gaan.",
        "pt-BR": "Seja o primeiro a saber quando lançarmos.",
        "pt-PT": "Seja o primeiro a saber quando é o lançamento.",
        "sv": "Var den första som vet när vi kör igång.",
        "th": "รับรู้ข่าวสารการเปิดตัวของเราก่อนใคร",
        "zh-CN": "成为第一批知道我们何时推出新内容的客户。",
        "zh-TW": "搶先收到產品發佈消息。"
      }
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Subheading",
      "default": {
        "da": "<p>En kort sætning, der beskriver, hvad folk får ud af at tilmelde sig</p>",
        "de": "<p>Eine kurze Beschreibung zum Inhalt des Newsletters</p>",
        "en": "<p>A short sentence describing what someone will receive by subscribing</p>",
        "es": "<p>Una frase corta que describe lo que las personas recibirán al suscribirse</p>",
        "fi": "<p>Lyhyt lause, jossa kuvataan, mitä käyttäjä saa tilaamalla</p>",
        "fr": "<p>Petite phrase qui décrit ce qu'on reçoit en s'inscrivant</p>",
        "hi": "<p>किसी को सदस्यता लेने से क्या प्राप्त होगा, यह बताने वाला एक छोटा वाक्य</p>",
        "it": "<p>Una breve frase che descrive ciò che qualcuno riceverà effettuando l'iscrizione</p>",
        "ja": "<p>メルマガ購読者に向けたメッセージを入れましょう</p>",
        "ko": "<p>구독을 통해 받을 것을 설명해주는 짧은 문장</p>",
        "ms": "<p>Satu perkataan pendek yang menerangkan apa yang seseorang akan terima dengan melanggan</p>",
        "nb": "<p>En kort setning som beskriver hva man får ved å abonnere</p>",
        "nl": "<p>Een korte beschrijving van wat iemand ontvangt door zich te abonneren</p>",
        "pt-BR": "<p>Uma frase curta que descreve o que alguém receberá ao assinar</p>",
        "pt-PT": "<p>Uma frase curta que descreve o que será recebido ao subscrever</p>",
        "sv": "<p>En kort mening som beskriver vad som erhålls med prenumeration</p>",
        "th": "<p>ประโยคสั้นๆ ที่อธิบายถึงสิ่งที่บางคนจะได้รับจากการสมัครรับข้อมูล</p>",
        "zh-CN": "<p>一个简短的句子，用于描述订阅者将收到的内容</p>",
        "zh-TW": "<p>簡短說明訂閱者可收到之內容</p>"
      }
    },
    {
      "type": "richtext",
      "id": "contact_txt",
      "label": "Contact text"
    },
	{
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter Button Text"
    }
  ]
}
{% endschema %}
