{% comment %}{% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}{% endcomment %}

<div id="page-wrapper">
  <div class="flex-row-cols-2">
    
    {% if section.settings.image1 != blank %}
    <div class="flex-row-col homepage-section simple-image-with-text index-section bm10 section-{{ section.id }}" data-section-id="{{ section.id }}" >
      
      
      {%- assign src_name = section.settings.image1 -%}
      {%- assign src_alt = section.settings.image1.alt -%}
      {% if section.settings.mobile_image1 != blank %}
      {%- assign src_class = "hide-phone" -%}
      {% endif %}
      {% include 'srcset' %}
      {%- assign src_class = "" -%}


      {% if section.settings.mobile_image1 != blank %}
        {%- assign src_name = section.settings.mobile_image1 -%}
        {%- assign src_alt = section.settings.mobile_image1.alt -%}
        {%- assign src_class = "hide-tablet-up" -%}
        {% include 'srcset' %}
        {%- assign src_class = "" -%}
      {% endif %}
      
      <div class="overlay">
        <div class="row">
          <div class="desktop-12 tablet-6 mobile-3">
            <div class="overlay-text">
              {% if section.settings.link1 != blank %}
                <a class="fill-link" href="{{ section.settings.link1 }}" title="{{ section.settings.link_text2 }}">{{ section.settings.link_text2 }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}



    {% if section.settings.image2 != blank %}
    <div class="flex-row-col homepage-section simple-image-with-text index-section bm10 section-{{ section.id }}" data-section-id="{{ section.id }}" >      

      {%- assign src_name = section.settings.image2 -%}
      {%- assign src_alt = section.settings.image2.alt -%}
      {% if section.settings.mobile_image2 != blank %}
      {%- assign src_class = "hide-phone" -%}
      {% endif %}
      {% include 'srcset' %}
      {%- assign src_class = "" -%}


      {% if section.settings.mobile_image2 != blank %}
        {%- assign src_name = section.settings.mobile_image2 -%}
        {%- assign src_alt = section.settings.mobile_image2.alt -%}
        {%- assign src_class = "hide-tablet-up" -%}
        {% include 'srcset' %}
        {%- assign src_class = "" -%}
      {% endif %}

      <div class="overlay">
        <div class="row">
          <div class="desktop-12 tablet-6 mobile-3">
            <div class="overlay-text">
              {% if section.settings.link2 != blank %}
                <a class="fill-link" href="{{ section.settings.link2 }}" title="{{ section.settings.link_text2 }}">{{ section.settings.link_text2 }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

<div class="clear"></div>
<style>

</style>

{% schema %}
{
  "name": "Simple Image with Link",
  "settings": [
    {
      "type": "header",
      "content": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "mobile_image1",
      "label": "Image 1 (Mobile - Optional)",
      "info": "Show different image in mobile"
    },
    {
     "id": "link_text1",
     "type": "text",
     "label": "Title text",
     "default": "Click Here!",
     "info": "Visible only on link hover"
     },
     {
      "type": "url",
      "id": "link1",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Image 2 (optional)"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "mobile_image2",
      "label": "Image 2 (Mobile - Optional)",
      "info": "Show different image in mobile"
    },
    {
     "id": "link_text2",
     "type": "text",
     "label": "Title text",
     "default": "Click Here!",
     "info": "Visible only on link hover"
    },
    {
      "type": "url",
      "id": "link2",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Simple Image with Link",
      "category": "Image"
    }

  ]
}
{% endschema %}
