<div class="homepage-section slideshow-section no-fouc index-section" data-section-id="{{ section.id }}" data-section-type="slideshow-section">

  {% comment %} If full width isn't selected, include these grid containers {% endcomment %}
  {% unless section.settings.full_width %}
  <div class="row">
    <div class="desktop-12 tablet-6 mobile-3">
      {% endunless %}
      {% assign slider_speed = section.settings.slider_speed | times: 1000 %}

      {% if section.blocks.size > 0 %}

        {% comment %} Add a class for sliders with solo images {% endcomment %}      
        {% if section.blocks.size == 1 %}
          {% assign solo_class = 'one-image-only' %}
        {% else %}
          {% assign solo_class = '' %}
        {% endif %}

        <div class="flexslider index_Slider {{ solo_class }}" id="Slideshow-{{ section.id }}" data-speed="{{ slider_speed }}">
          <ul class="slides">
            {% for block in section.blocks %}

              <li id="slide--{{ block.id }}"
                data-block-id="{{ block.id }}"
                class="slide--{{ block.id }} slide_image align-text--{{ block.settings.caption_text_align }}"
                data-flexslider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
      
                {% comment %} :: IMAGES - MOBILE AND DESKTOP :: {% endcomment %}
                {% if block.settings.image != blank %}

                  {% comment %} :: IMAGE LINK :: Wrap in an anchor tag if link is supplied {% endcomment %}
                  {% if block.settings.image_link != blank %}
                    <a href="{{ block.settings.image_link }}">
                  {% endif %}

                  <div class="box-ratio">
                    <picture>
                      
                      {% comment %} :: MOBILE IMAGE :: {% endcomment %}
                      {% if block.settings.mobile_image != blank %}
                        {% assign mobile_img_url = block.settings.mobile_image | img_url: '767x' %}
                        <source srcset="{{ mobile_img_url }}" media="(max-width: 767px)">
                      {% endif %}

                      {% assign desktop_img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                      <img class="slideshow__image slideshow__image__{{ block.id }} lazyload lazyload-fade" 
                        data-src="{{ desktop_img_url }}" 
                        data-sizes="auto"
                        data-parent-fit="cover"
                        alt="{{ block.settings.image.alt | escape }}">
                    </picture>

                    <noscript>
                      <img src="{{ block.settings.image | img_url: '1024x' }}" alt="{{ block.settings.image.alt | escape }}" class="slideshow__image slideshow__image--{{ block.id }}">
                    </noscript>
                  </div>
                  <!-- End of .box-ratio -->

                  {% if block.settings.image_link != blank %}
                    </a>
                  {% endif %}

                  {% comment %} Styling to accommodate the box ratio for lazy-loaded images {% endcomment %}
                  <style>
                    {% assign image_box_ratio = block.settings.image.height | append: ".0" | times: 1 | divided_by: block.settings.image.width | times: 100 | append: "%" %}

                    {% if block.settings.mobile_image != blank %}
                      {% assign mobile_image_box_ratio = block.settings.mobile_image.height | append: ".0" | times: 1 | divided_by: block.settings.mobile_image.width | times: 100 | append: "%" %}

                      /* Mobile */
                      #slide--{{ block.id }} .box-ratio {
                        padding-bottom: {{ mobile_image_box_ratio }};
                      }

                    {% else %}
                      #slide--{{ block.id }} .box-ratio {
                        padding-bottom: {{ image_box_ratio }};
                      }

                    {% endif %}

                    {% if block.settings.image != blank and block.settings.mobile_image != blank %}
                      /* Tablet and up */
                      @media screen and (min-width: 768px) {
                        #slide--{{ block.id }} .box-ratio {
                          padding-bottom: {{ image_box_ratio }};
                        }
                      }
                    {% endif %}
                  </style>

                {% endif %}

                {% comment %} :: NO IMAGE - PLACEHOLDER :: {% endcomment %}
                {% if block.settings.image == blank %}
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {%- assign placeholder = 'lifestyle-' | append: current -%}
                  {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}

                {% comment %} :: CAPTION BLOCK :: {% endcomment %}
                <div class="flex-caption slide-{{ block.id }} 
                  caption-box-align-{{ block.settings.caption_horizontal }} 
                  caption-text-align-{{ block.settings.caption_text_align }}
                  caption-theme-{{ block.settings.caption_color_scheme }}">

                  <div class="caption-inners">
                    {% if block.settings.heading != blank %}
                      <h2 class="slide-title">{{ block.settings.heading }}</h2>
                    {% endif %}
                    
                    {% if block.settings.subheading != blank %}
                      <p class="caption">{{ block.settings.subheading }}</p>
                    {% endif %}

                    {% comment %} :: CTA BUTTONS :: {% endcomment %}
                    {% if block.settings.cta_one_link != blank and block.settings.cta_one_button_text != blank %}
                      <div class="buttons-row">

                        {% comment %} :: BUTTON #1 :: {% endcomment %}
                        <div class="cta show-lines--{{ block.settings.cta_one_line }}" id="cta-one-{{ block.id }}">
                          <a href="{{ block.settings.cta_one_link }}">

                            {% comment %}
                              :: CTA LINES + TEXT :: 
                                - Lines always present for flex item alignment behavior, invisible unless enabled {% endcomment %}
                            <div class="cta-line-left"></div>
                            {{ block.settings.cta_one_button_text }}
                            <div class="cta-line-right"></div>
                          </a>
                        </div>

                        {% comment %} CTA TWO - Only show if link exists. Duplicate this and the necessary schema code if client asks for more buttons. {% endcomment %}
                        {% if block.settings.cta_two_link != blank and block.settings.cta_two_button_text != blank %}

                          {% comment %} :: BUTTON #2 :: {% endcomment %}
                          <div class="cta show-lines--{{ block.settings.cta_two_line }}" id="cta-two-{{ block.id }}">
                            <a href="{{ block.settings.cta_two_link }}" class="{{ buttonWrapClasses }}">
                              
                              {% comment %}
                                :: CTA LINES + TEXT :: 
                                  - Lines always present for flex item alignment behavior, invisible unless enabled {% endcomment %}
                              <div class="cta-line-left"></div>
                              {{ block.settings.cta_two_button_text }}
                              <div class="cta-line-right"></div>
                            </a>
                          </div>
                        {% endif %}

                      </div>
                    {% endif %}
                  </div>
                </div>
              </li>


              <style>
                .flex-caption.slide-{{ block.id }} {
                  top: {{ block.settings.caption_vertical }}%;
                }

                .flex-caption.slide-{{ block.id }} .caption-inners {
                  {% assign bg_color = block.settings.caption_background %}
                  {% assign caption_opacity = block.settings.caption_opacity | plus: 0 %}
                  
                  {% if block.settings.caption_background == 'rgba(0,0,0,0)' %}
                    background: transparent;
                  {% else %}
                    background: {{ bg_color | color_modify: 'alpha', caption_opacity }};
                  {% endif %}
                }


                {% comment %} :: COLOR SCHEME STYLING :: {% endcomment %}
                {% assign color_scheme = block.settings.caption_color_scheme %}
                {% assign buttons_right_align = '0' %}

                {% if color_scheme == 'light' or color_scheme == 'white' %}
                  {% assign slide_text_color = '#ffffff' %}
                  {% assign cta_bg_color = 'transparent' %}
                  {% assign cta_bg_hover_color = 'transparent' %}
                  {% assign cta_padding_mobile = '0' %}
                  {% assign cta_padding_desktop = '0' %}

                {% elsif color_scheme == 'dark' %}
                  {% assign slide_text_color = '#000000' %}
                  {% assign cta_bg_color = 'transparent' %}
                  {% assign cta_bg_hover_color = 'transparent' %}
                  {% assign cta_padding_mobile = '0' %}
                  {% assign cta_padding_desktop = '0' %}

                {% else %}
                  {% assign slide_text_color = block.settings.custom_slide_main_color %}
                  {% assign cta_bg_color = block.settings.custom_slide_alt_color %}
                  {% assign cta_bg_hover_color = block.settings.custom_slide_alt_color %}
                  {% assign cta_padding_mobile = '10px' %}
                  {% assign cta_padding_desktop = '15px 24px' %}
                {% endif %}

                .flex-caption.slide-{{ block.id }} h2.slide-title {
                  color: {{ slide_text_color }};
                  text-align: {{ block.settings.caption_text_align }};
                }

                .flex-caption.slide-{{ block.id }} .caption {
                  color: {{ slide_text_color }};
                  text-align: {{ block.settings.caption_text_align }};
                }

                .flex-caption.slide-{{ block.id }} .cta a {
                  color: {{ slide_text_color }};
                  padding: {{ cta_padding_mobile }};
                  background-color: {{ cta_bg_color }};
                }

                @media only screen and ( min-width: 768px ) {
                  .flex-caption.slide-{{ block.id }} .cta a {
                    padding: {{ cta_padding_desktop }};
                  }
                }

                .flex-caption.slide-{{ block.id }} .cta a:hover {
                  background-color: {{ cta_bg_hover_color }};
                }

                .flex-caption.slide-{{ block.id }} .cta .cta-line-left,
                .flex-caption.slide-{{ block.id }} .cta .cta-line-right {
                  background-color: {{ slide_text_color }};
                }

              </style>
            {% endfor %}
          </ul>
        </div><!-- .flexslider -->

        {% comment %} New navigation {% endcomment %}
        {% if section.blocks.size > 1 %}
          <div class="slider--nav {% if section.settings.show_nav_pagination == false %} hide-nav {% endif %}">
            <a href="#" class="flex-prev">
              {% include 'svg-icon-arrow-left' %}
            </a>
            <div class="pagination">
              <span class="flexslider--current-slide"></span>
              <span class="slash">/</span>
              <span class="flexslider--total-slides"></span>
            </div>
            <a href="#" class="flex-next">
              {% include 'svg-icon-arrow-right' %}
            </a>
          </div><!-- .slider--nav -->
        {% endif %}

      {% endif %}

      {% if section.blocks.size == 0 %}
        {% include 'no-blocks' %}
      {% endif %}

      {% unless section.settings.full_width %}
    </div>
  </div>
  {% endunless %}
</div>
<div class="clear"></div>

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "header",
          "content": "-- IMAGES --"
        },      
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image (Desktop)",
          "info": "Size: ~2300x1200 (slide height congruency is more important than adherence to suggested size)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image (Mobile)",
          "info": "Size: ~728x1024 (slide height congruency is more important than adherence to suggested size)"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image Link"
        },


        {
          "type": "header",
          "content": "-- TEXT BOX : CONTENT --"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Add a title to your image"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-Heading",
          "default": "Tell your brand's story through images"
        },
        {
          "type": "select",
          "id": "caption_text_align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },


        {
          "type": "header",
          "content": "-- BUTTON #1 --"
        },
        {
          "type": "url",
          "id": "cta_one_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "cta_one_button_text",
          "label": "Button text",
          "default": "Add a button",
          "info": "(Visible only if a link is set)"
        },
        {
          "type": "select",
          "id": "cta_one_line",
          "label": "CTA Line Placement",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ]
        },


        {
          "type": "header",
          "content": "-- BUTTON #2 --"
        },
        {
          "type": "url",
          "id": "cta_two_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "cta_two_button_text",
          "label": "Button text",
          "default": "Add a button",
          "info": "(Visible only if a link is set)"
        },
        {
          "type": "select",
          "id": "cta_two_line",
          "label": "CTA Line Placement",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ]
        },  


        {
          "type": "header",
          "content": "-- TEXT BOX : COLOR SCHEME --"
        },
        {
          "type": "select",
          "id": "caption_color_scheme",
          "label": "Color Scheme",
          "info": "Choose a color scheme from the prescribed branding colors, or select CUSTOM to select your own colors",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ] 
        },
        {
          "type": "color",
          "id": "custom_slide_main_color",
          "label": "Custom - Main Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "custom_slide_alt_color",
          "label": "Custom - Alternate Color",
          "default": "#e41c39"
        },


        {
          "type": "header",
          "content": "-- TEXT BOX : POSITION --"
        },
        {
          "type": "select",
          "id": "caption_horizontal",
          "label": "Horizontal Box Position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "range",
          "id": "caption_vertical",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Vertical Box Position",
          "info": "*Check mobile & desktop to ensure no text clipping occurs.",
          "default": 50
        },


        {
          "type": "header",
          "content": "-- TEXT BOX : BACKGROUND --"
        },
        {
          "type": "color",
          "id": "caption_background",
          "label": "Background",
          "default": "transparent"
        },
        {
          "type": "select",
          "id": "caption_opacity",
          "label": "Background opacity",
          "options": [
            {
              "value": "0.1",
              "label": "10%"
            },
            {
              "value": "0.2",
              "label": "20%"
            },
            {
              "value": "0.3",
              "label": "30%"
            },
            {
              "value": "0.4",
              "label": "40%"
            },
            {
              "value": "0.5",
              "label": "50%"
            },
            {
              "value": "0.6",
              "label": "60%"
            },
            {
              "value": "0.7",
              "label": "70%"
            },
            {
              "value": "0.8",
              "label": "80%"
            },
            {
              "value": "0.9",
              "label": "90%"
            },
            {
              "value": "1.0",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ],


  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable Full Width"
    },
    {
      "type": "checkbox",
      "id": "show_nav_pagination",
      "label": "Show Nav Pagination",
      "default": true
    },
    {
      "type": "range",
      "id": "slider_speed",
      "min": 2,
      "max": 30,
      "step": 1,
      "label": "Slideshow speed (seconds)",
      "default": 5
    }
  ],
  "presets": [{
    "name": "Slideshow",
    "category": "Image",
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
