<div class="homepage-section twin-promos index-section" id="text-promo-{{ section.id }}" data-section-id="{{ section.id }}">

  {% comment %} :: FULL-WIDTH WRAPPING ELEMENTS :: {% endcomment %}
  {% if section.settings.full_width %}<div class="gridlock-fluid twin-promos-full-width">{% endif %}

  <div class="row homepage-section no-fouc promo-wrapper">
    {% case section.blocks.size %}
      {% when 1 %}
        {%- assign image_size = '900x' -%}
        {%- assign column_width = 'desktop-8 desktop-push-2 tablet-4 tablet-push-1' -%}
    
      {% when 2 %}
        {%- assign image_size = '800x' -%}
        {%- assign column_width = 'desktop-6 tablet-3' -%}
    {% endcase %}

    {% comment %} :: THE LOOP :: {% endcomment %}
    {% for block in section.blocks %}
      {%- assign img_url = block.settings.image | img_url: image_size -%}

      {% comment %} :: SINGLE PROMO - WRAP :: {% endcomment %}
      <div id="promo-{{ block.id }}" class="single-promo {{ column_width }} mobile-3 promo-{{ block.id }}" {{ block.shopify_attributes }}>
    
        {% comment %} :: IMAGE :: {% endcomment %}
        {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
          {% if block.settings.image != blank %}
            {% include 'advanced-responsive-image' | default_image: block.settings.image, mobile_image: block.settings.mobile_image, block_id: block.id %}
            <noscript>
              <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
            </noscript>
          {% endif %}
        {% if block.settings.link != blank %}</a>{% endif %}

          {% comment %} :: HEADER - TEXT :: {% endcomment %}
          <div class="text-promo-content align-promo-text-{{ block.settings.text_align }}">
            {% if block.settings.heading_text != blank %}
              <h3 class="heading-text">{{ block.settings.heading_text | escape }}</h3>
            {% endif %}
            
            {% comment %} :: BODY - TEXT :: {% endcomment %}
            {% if block.settings.body_text != blank %}
              <div class="body-text">{{ block.settings.body_text }}</div>
            {% endif %}

            {% comment %} :: CTA - BUTTON :: {% endcomment %}
            {% if block.settings.cta_text != blank %}
              <div class="cta cta-accent-mark-{{ block.settings.cta_accent_mark }} cta-type-{{ block.settings.cta_type }}">
                
                {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
                  <div class="cta-line-left"></div>
                  <span>{{ block.settings.cta_text }}</span>
                  <div class="cta-line-right"></div>
                {% if block.settings.link != blank %}</a>{% endif %}
              
              </div>
            {% endif %}

          </div>
      </div>

      {% comment %} 
        :: STYLE :: 
          - Config supplied colorations only, everything else belongs in the twin-promos stylesheet please. {% endcomment %}
      <style>
        /* CTA TEXT - COLOR */
        #promo-{{ block.id }} .cta span {
          color: {{ block.settings.cta_color_text }};
        }
        #promo-{{ block.id }} .cta:hover span {
          color: {{ block.settings.cta_color_text_hover }};
        }

        /* CTA SYMBOL (LINE) - COLOR */
        #promo-{{ block.id }} .cta .cta-line-left,
        #promo-{{ block.id }} .cta .cta-line-right {
          background-color: {{ block.settings.cta_color_text }};
        }
        #promo-{{ block.id }} .cta:hover .cta-line-left,
        #promo-{{ block.id }} .cta:hover .cta-line-right {
          background-color: {{ block.settings.cta_color_text_hover }};
        }

        /* CTA SYMBOL (SVG) - COLOR */
        #promo-{{ block.id }} .cta svg * {
          fill: {{ block.settings.cta_color_text }};
        }
        #promo-{{ block.id }} .cta:hover svg * {
          fill: {{ block.settings.cta_color_text_hover }};
        }

        /* CTA BUTTON - BG COLOR (if applicable) */
        {% if block.settings.cta_type == 'button' %}
          #promo-{{ block.id }} .cta a {
            background-color: {{ block.settings.cta_color_bg }};
          }
          #promo-{{ block.id }} .cta:hover a {
            background-color: {{ block.settings.cta_color_bg_hover }};
          }
        {% endif %}
      </style>
    {% endfor %}
    {% comment %} :: END LOOP :: {% endcomment %}
  </div>

  {% comment %} :: FULL-WIDTH WRAPPING ELEMENTS :: {% endcomment %}
  {% if section.settings.full_width %}</div>{% endif %}


  {% comment %} :: SAFETY - NO DEFINED CONTENT :: {% endcomment %}
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}

</div>
<div class="clear"></div>



{% schema %}
  {
    "name": "Twin Promos",
    "max_blocks": 2,
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Enable Full-Width"
      }    
    ],


    "blocks": [
      {
        "type": "text_block",
        "name": "Promo",
        "settings": [
          {
            "type": "header",
            "content": "-- CONTENT --"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image (Desktop)",
            "info": "Size: ~600-900px wide, square aspect ratio suggested but not required."
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Image (Mobile)",
            "info": "Size: ~600-900px wide, square aspect ratio suggested but not required."
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          },
          {
            "type": "text",
            "id": "heading_text",
            "label": "Heading Text",
            "default": "HEADING Text"
          },
          {
            "type": "richtext",
            "id": "body_text",
            "label": "Body Text",
            "default": "<p>Describe your promoted collection or product here with some details.<\/p>"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text Alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },


          {
            "type": "header",
            "content": "-- CTA Button --"
          },
          {
            "type": "select",
            "id": "cta_type",
            "label": "Type of CTA Button",
            "default": "text",
            "options": [
              {
                "value": "text",
                "label": "Text Only"
              },
              {
                "value": "button",
                "label": "Button w/ Background"
              }
            ]
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text",
            "default": "Shop Now"
          },
          {
            "type": "color",
            "id": "cta_color_text",
            "label": "CTA Text Color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "cta_color_bg",
            "label": "CTA BG Color",
            "info" : "(Only applies to 'Button' type CTA)",
            "default": "#8C1D21"
          },
          {
            "type": "color",
            "id": "cta_color_text_hover",
            "label": "CTA Text Color",
            "default": "#616365"
          },
          {
            "type": "color",
            "id": "cta_color_bg_hover",
            "label": "CTA BG Color",
            "info" : "(Only applies to 'Button' type CTA)",
            "default": "#8C1D22"
          },
          {
            "type": "select",
            "id": "cta_accent_mark",
            "label": "Show CTA Accent Mark",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "Hidden"
              },
              {
                "value": "left",
                "label": "Left Side"
              },
              {
                "value": "right",
                "label": "Right Side"
              },
              {
                "value": "both",
                "label": "Both Sides"
              }
            ]
          }
        ]
      }
    ],


    "presets": [
      {
        "name": "Twin Promos",
        "category": "Image",
        "blocks": [
            {
              "type": "text_block"
            },
            {
              "type": "text_block"
            }
        ]
      }
    ]
  }
{% endschema %}
