{% assign has_breadcrumb = true %}

{% comment %} :: FEATURE TOGGLES : Can assign page specific global component hides here :: {% endcomment %}
{% case template %}
  {% when 'index' %}
    {% assign has_breadcrumb = false %}

  {% when 'collection' %}
    {% assign has_breadcrumb = false %}

  {% when 'page.rewards' %}
    {% assign has_breadcrumb = false %}
{% endcase %}


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Facebook or Google Analytics tracking should be placed in your Online store > Preferences and not your theme -->


  <!-- Meta content
================================================== -->
  <title>
    {{ page_title }}{% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes">
  <link rel="canonical" href="{{ canonical_url }}" />
  {% include 'social-media-meta-tags' %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}



  <!-- CSS
================================================== -->
  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'queries.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'bc-sf-filter.scss.css' | asset_url | stylesheet_tag }} {% comment %} Filter App Styling {% endcomment %}


  <!-- Typography
================================================== -->
  {% include 'google-fonts' %}



  <!-- JS
================================================== -->
  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}

  <!-- {{ 'react.min.js' | asset_url | script_tag }} -->
  <!-- {{ 'react-dom.min.js' | asset_url | script_tag }} -->
  <!-- {{ 'jquery-2.2.4.min.js' | asset_url | script_tag }} -->
  <!-- {{ "eventemitter3.min.js" | asset_url | script_tag }} -->
  <!-- {{ 'slick.min.js' | asset_url | script_tag }} -->
  <!-- {{ 'theme.js' | asset_url | script_tag }} -->
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  <!-- {{ 'jquery.fs.shifter.js' | asset_url | script_tag }} -->

  {% include 'script-yotpo' %}
  {% include 'script-zendesk' %}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {%- if settings.show_multiple_currencies -%}
    {% include 'currencies' %}
  {%- endif -%}

  {% comment %} :: Instagram Feed :: {% endcomment %}
  {% if template contains 'index' %}
    {{ 'instafeed.js' | asset_url | script_tag }}
	{% endif %}

  {% comment %} :: Loyalty Lion :: {% endcomment %}
  {% if settings.loyalty_lion_enabled %}
    {% include 'script-loyalty-lion' %}
  {% endif %}

  {% comment %} :: Wishlist King App :: {% endcomment %}
  {% if settings.app_wk_enabled %}
    {% include 'appmate-wishlist-king' %}
  {% endif %}

  {% comment %} :: Product Reviews :: {% endcomment %}
  {% comment %}{% include 'pr-review-master-script' %}{% endcomment %}

  {% comment %} :: Shop Runner :: {% endcomment %}
  {% if settings.shoprunner_enabled %}
    {% include 'shoprunner-logic', isCheckout: false %}
  {% endif %}

  {% comment %} :: Borderfree :: {% endcomment %}
  {% if settings.borderfree_enabled %}
    {% include 'borderfree-script' %}
  {% endif %}



  <!-- GTM Setup + Data Layer
================================================== -->

  {% include 'script-google-tag-head' %}

  {%- if settings.enable_script_data_layer -%}
    {% include 'script-data-layer' %}
  {%- endif -%}


  <!-- Favicons
================================================== -->
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x' }}">
  {% endif %}

  <!-- Nosto
================================================== -->
  {% if settings.nosto_id != blank %}
    {% include 'nosto-script' %}
  {% endif %}

  <!-- User Logged in State Check
================================================== -->
  <script>
    // set global variable for Shopify sign-in status to pass to theme.js
    var shopifyUserSignInStatus = {% if customer %}true{% else %}false{% endif %};
  </script>

  {{ content_for_header }}
</head>

<body class="bfx-price-container bfx-remove-element-container template-name-{{ template | split: '.' | last }} gridlock shifter {% if template contains 'product' %}product{% elsif template contains 'collection' %}collection{% else %}{{ template }}{% endif %}">
  {% include 'script-google-tag-body' %}
  {% include 'timber-cart' %}

  {% comment %} :: PAGE CONTAINER - Classes :: {% endcomment %}
  {%- capture containerClasses -%}
    shifter-page
    {% if settings.ajax_cart_method == 'drawer' %} is-moved-by-drawer {% endif %}
  {%- endcapture -%}

  <div id="PageContainer" class="{{ containerClasses }}">
    <div class="page-wrap">

      {% section 'header' %}
      <div class="clear"></div>


      {% comment %} :: COLLECTION - Banner Image ::

        Notes:
        ------
        To activate a collection banner, you'll need the following images uploaded to the "Files" section:
        Desktop Images - collection-banner-__collectionHandle__-desktop.jpg
        Mobile Images - collection-banner-__collectionHandle__-mobile.jpg

        To display the banners, enter the following HTML in the collection description:
        <div class="category-banner has--category-banner banner--only"></div>

        IMPORTANT:
        ----------
        If the description ONLY contains the Category Banner code above, then you need to include the classname "banner--only".
        Otherwise, enter the code below if you have other content (such as the SEO footer text)
        <div class="category-banner has--category-banner"></div>

      {% endcomment %}
      {% if template contains 'collection' %}
        {% if collection.description contains 'has--category-banner' %}
          <div class="collection-banner">
            {% include 'collection-banner-image' %}
          </div>
        {% endif %}
      {% endif %}


      {% comment %} :: HOME / BLOG / LIST-COLLECTIONS - No Wrapper or Breadcrumbs :: {% endcomment %}
      {% if template == 'index' or template contains 'blog' or template contains 'list-collections' %}
        {{ content_for_layout }}


      {% comment %} :: ALL OTHER PAGES :: {% endcomment %}
      {% else %}

        {% comment %} :: BREADCRUMBS :: {% endcomment %}
        {% if settings.breadcrumb and has_breadcrumb %}
          {% include 'breadcrumb' %}
        {% endif %}

        {% comment %} :: PAGE CONTENT :: {% endcomment %}
        {% comment %} Note : PRODUCT DETAILS has breadcrumbs but custom wrappers {% endcomment %}
        <div id="content" {% if template !='product' %}class="row"{% endif %} />
          {{ content_for_layout }}
        </div>

        {% comment %} :: COLLECTION - SEO FOOTER PARAGRAPH :: {% endcomment %}
        {% if template contains 'collection' and settings.show_collection_seo_block == true %}
          {% if collection.description != blank %}
            {% unless collection.description contains "banner--only" %}
              {% include 'collection-seo-block' %}
            {% endunless %}
          {% endif %}
        {% endif %}

      {% endif %}
      {% comment %} :: End of 'ALL OTHER PAGES' IF block :: {% endcomment %}
    </div>  <!-- close the page-wrap class -->

    {% section 'newsletter' %}
    {% section 'footer' %}
  </div> <!-- close the shifter-page class -->


  <!-- Global Components
  ================================================== -->
  {% include 'cookie-banner' %}

  {% comment %}
  {% include 'newsletter-popup' %}
  {% endcomment %}

  {% comment %} CURRENTLY UNUSED - Was making invisible scroll-to-top click regions
    {% include 'scroll-to-top' %}
  {% endcomment %}


  <!-- Begin Recently Viewed Products -->
  <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    // Including api.jquery.js conditionnally.
    if (typeof Shopify.resizeImage === 'undefined') {
      document.write( {{ "api.jquery.js" | shopify_asset_url | script_tag | json }} );
    }
    //]]>``
  </script>
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}

  {% if template contains 'product' %}
    <script type="text/javascript" charset="utf-8">
      //<![CDATA[
      Shopify.Products.recordRecentlyViewed();
      //]]>
    </script>
  {% endif %}

  {% if settings.show-facebook-like %}
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127142210767229";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  {% endif %}

  {% if settings.ajax_cart_method == 'drawer' %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}

    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '.product_form',
          cartContainer: '#CartContainer',
          addToCartSelector: '.AddtoCart',
          cartCountSelector: '.CartCount, .cart-count',
          cartCostSelector: '.CartCost',
          moneyFormat: {{ shop.money_format | json }}
       });
      });

      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();

        {% if settings.show_multiple_currencies %}
          // Convert currency when ajaxcart opens
          Currency.convertAll(shopCurrency, Currency.currentCurrency);
        {% endif %}
      });
    </script>
  {% endif %}

  <!-- Responsive Images -->
  {{ 'ls.rias.min.js' | asset_url | script_tag }}
  {{ 'ls.bgset.min.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

  <!-- FILTER APP (PLP) -->
  {% include 'bc-sf-filter' %}

  {% comment %} :: GIFT WITH PURCHASE MODAL :: 
  {% section 'gift-with-purchase' %}
  {% endcomment %}

  <!-- NOSTO TAGGING -->
  {% if settings.nosto_id != blank %}
    {% include 'nosto-tagging' %}
  {% endif %}

  <!-- yottaa-rapid-scripts -->
  {% include 'yottaa-rapid-script' %}


 </body>
</html>
